{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Edit Profile</title>
<link rel="stylesheet" href="{% static 'edit_profile.css' %}">
</head>
<body>
<div class="container">
  <div class="header"><div class="company-name">Asset Management</div></div>

  <div class="profile-form">
    <h2>Edit Profile</h2>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="form-field">
        <label for="username" class="form-label">Username:</label>
        <input type="text" id="username" name="username" class="form-input" value="{{ user.username }}" required>
      </div>
      <div class="form-field">
        <label for="password" class="form-label">New Password:</label>
        <input type="password" id="password" name="password" class="form-input" required>
      </div>
      <div class="form-field">
        <label for="confirm_password" class="form-label">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" class="form-input" required>
      </div>
      <button type="submit" class="form-button">Update</button>
    </form>
  </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>