{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Management</title>
    <link rel="stylesheet" href="{% static 'landing_page.css' %}">
</head>
<body>
    <div class="header"><div class="company-name">Asset Management</div></div>
    <div class="login-signup-box">
        <span class="login-signup-text"><a href="/login/">Login</a></span>
    </div>
    
    <div class="slogan">Join us to efficiently manage <br>YOUR ASSETS</div>
</body>
</html>